<div class="container">
	<div class="row">
		<div class="col ">
            <!--Card-->
            <div class="card z-depth-1 px-0 py-0 border">
                   <div class="view card-header media z-index-1 view ">
                    <div class="media-body mt-auto mb-auto">
                        <h5 class="mt-0 ">Add Task </h5>
                    </div>
                </div>
                            <div class="card-body text-center" ng-controller="TaskController as ctrl">
                                <!-- Form register -->
                                
                                <form ng-submit="ctrl.addTask()" class="w-50 mx-auto">
                                      <div class="md-form">
                                          <input type="text" class="form-control" id="task"  ng-model="task" required>
                                           <label  for="task">Task Name</label>
                                      </div>
                                    
                                     <div class="md-form">
                                        <input type="text" class="form-control" id="status"  ng-model="status" required>
                                        <label  for="status">Status</label>
                                      </div>
                                    
                                     <div class="md-form">
                                        <label for="date">Due Date</label>
                                         <input type="text" class="form-control " id="date"   ng-model="date" required>
                                      </div>
                                    
                                     <div class="form-group ">
                                        <div class="col"></div>
                                          <div class="col-5 pl-0 pr-3 inline-block text-center">
                                             <button type="submit" class="btn btn-default darken-4">Save</button>
                                          </div>
                                      </div>
                                    </form>
                    </div>
            </div>
            <!--/.Card-->
               
	   </div>
</div>
</div>



