<div class=" chatSidebar-content float-left">
    
    <!--loggedInUser-->
    <div class=" card px-0 py-0 z-depth-1 "  ng-show="ctrl.visible" ng-class="{'chatSidebar-content-animation':true}">
     
        <a href="#!/profile" >
        <div class="media user py-2 pl-4 editUser  text-white default-color" >
                <img class=" mr-3 img-fluid rounded-circle avatar" src="../../../images/users/m4.png" alt="Generic placeholder image" >
                <div class="media-body ">
                    <p class="mt-0 mb-1 h5" >My Name</p>
                      <!--    <h6>+</h6>     -->
                    <small>+9029506985</small> 
                </div>
              </div>
        </a>
   
   
    <a href="#!/chatHistory/1" >
    <div class="px-0 py-0">
         <div class="media user py-2 pl-4" >
           <i class="fa fa-comments fa-2x teal-text"></i>
            <div class="media-body ml-4  d-flex justify-content-between">
                <p class="mt-0 mb-1 lead text-left pl-2 teal-text" >Start Chat  </p>
                 <i class="fa fa-plus-circle fa-2x teal-text" aria-hidden="true"></i> 
               
            </div>
          </div>
        </div>
    </a>

    <div ng-repeat="user in ctrl.users">
        <a href="#!/chatHistory/{{user.id}}" >
           <div class="media user py-2 pl-4" ng-class="getClass('/chatHistory/{{user.id}}')" >
            <img class=" mr-3 img-fluid rounded-circle avatar" ng-src="../../../images/users/{{user.image}}.png" alt="Generic placeholder image" >
            <div class="media-body ">
                <p class="mt-0 mb-1 h6" >{{user.userName}}</p>
                  <!--    <h6>+</h6>     -->
                <small>{{user.mobile}}</small> <div class="text-right float-right"><small >{{user.date}}</small></div>
            </div>
          </div>
       </a>
    </div>
    
      
   </div>
</div>    