
<div class=" notificationSidebar-content  float-right " >
    
    <!--Expense-->
    <div class="card p-0 z-depth-0 accordion border  "  ng-show="notificationBarCntrl.visible" ng-class="{'notificationSidebar-content-animation': notificationBarCntrl.largeScreen}">
        <div class="media user py-2 editUser expense-header collapsed default-color text-white " data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                <img class=" mr-3 img-fluid rounded-circle avatar" src="../../images/expense.png" alt="Generic placeholder image" >
                <div class="media-body ">
                    <p class="mt-0 mb-1 lead" >Expense</p>

                      <!--    <h6>+</h6>     -->
                    <small>A short Subtitle</small> 
                </div>
        </div>
            
        <div id="collapseOne" class="card-block collapse">
          <ul class="list-group" id="expenseList">
              <li class="list-group-item border-0 rounded add-expense">
                <a href="#!/addExpense" class="blue-grey-text" >
                    <div class="z-depth-0 lead text-black">Add Expense <i class="fa fa-plus-circle "></i></div>
                </a>
              </li>
              
             
                 <expensedirective  expense="expense" ng-repeat="expense in expenses" ></expensedirective>
              
          </ul>
        </div>
     </div>
    
    <!--Task-->
     <div class="card p-0 z-depth-0 border"  ng-show="notificationBarCntrl.visible" ng-class="{'notificationSidebar-content-animation': notificationBarCntrl.largeScreen}">
      <a href="#!/addExpense" >
        <div class="media user py-2 editUser default-color text-white" >
                <img class=" mr-3 img-fluid rounded-circle avatar" src="../../images/Task.PNG" alt="Generic placeholder image" >
                <div class="media-body ">
                    <p class="mt-0 mb-1 lead" >Tasks</p>
                      <!--    <h6>+</h6>     -->
                    <small>A short subtitle</small> 
                </div>
              </div>
        </a>
    
 
      
   </div>
    
   <!-- <div class="card p-0 z-depth-0 border"  ng-show="notificationBarCntrl.visible" ng-class="{'notificationSidebar-content-animation': notificationBarCntrl.largeScreen}">
      <a href="#" >
        <div class="media user py-2 editUser mb-4 pb-4" >
                <img class=" mr-3 img-fluid rounded-circle avatar" src="../../images/Task.PNG" alt="Generic placeholder image" >
                <div class="media-body ">
                    <p class="mt-0 mb-1 lead" >&nbsp;</p>
                          <h6>+</h6>     
                    <small></small> 
                </div>
              </div>
        </a>
   </div>-->
</div>    