<!--<div class="notificationSidebar-content float-right card"  ng-show="NotificationCtrl.visible" ng-class="{'notificationSidebar-content-animation': NotificationCtrl.largeScreen}">
    I'm a Notification
</div>-->

<div class=" notificationSidebar-content  float-right " >
    
    <!--Expense-->
    <div class="card p-0 z-depth-0"  ng-show="notificationBarCntrl.visible" ng-class="{'notificationSidebar-content-animation': notificationBarCntrl.largeScreen}">
     
        <a href="#" >
        <div class="media user py-2 editUser" >
                <img class=" mr-3 img-fluid rounded-circle avatar" src="../../images/expense.png" alt="Generic placeholder image" >
                <div class="media-body ">
                    <p class="mt-0 mb-1 lead" >Expense</p>
                      <!--    <h6>+</h6>     -->
                    <small>A short Subtitle</small> 
                </div>
              </div>
        </a>

         <!--Task-->
      <a href="#" >
        <div class="media user py-2 editUser" >
                <img class=" mr-3 img-fluid rounded-circle avatar" src="../../images/Task.PNG" alt="Generic placeholder image" >
                <div class="media-body ">
                    <p class="mt-0 mb-1 lead" >Tasks</p>
                      <!--    <h6>+</h6>     -->
                    <small>A short subtitle</small> 
                </div>
              </div>
        </a>
    
 
      
   </div>
</div>    