
<div class=" notificationSidebar-content  float-right " >
    
    <!--Expense-->
    <div class="card p-0 z-depth-1 accordion   "  ng-show="notificationBarCntrl.visible" ng-class="{'notificationSidebar-content-animation': notificationBarCntrl.largeScreen}">
        <div class="media user py-2 editUser expense-header collapsed default-color text-white " data-toggle="collapse" data-target="#collapseExpense">
                <img class=" mr-3 img-fluid rounded-circle avatar" src="../../images/expense.png" alt="Generic placeholder image" >
                <div class="media-body ">
                    <p class="mt-0 mb-1 h5" >Expense</p>

                    <small>A short Subtitle</small> 
                </div>
        </div>
            
        <div id="collapseExpense" class="card-block collapse">
          <ul class="list-group" id="expenseList">
              <li class="list-group-item border-0 p-0 rounded">
                   <a href="#!/addExpense" class="blue-grey-text" >
                       <div class="media user py-2 pl-4" >
                           <div class="media-body  d-flex justify-content-start">
                              <i class="fa fa-plus-circle fa-2x teal-text" aria-hidden="true"></i> 
                              <p class="mt-0 mb-1 lead text-left pl-4 teal-text" >Add Expense  </p>
                            </div>
                      </div>
                 </a>
               
              </li>
              <expensedirective  expense="expense" ng-repeat="expense in expenses" ></expensedirective>
          </ul>
        </div>
     </div>
    
     <!--Task-->
     <div class="card p-0 z-depth-1 accordion   "  ng-show="notificationBarCntrl.visible" ng-class="{'notificationSidebar-content-animation': notificationBarCntrl.largeScreen}">
        <div class="media user py-2 editUser expense-header collapsed default-color text-white " data-toggle="collapse"  data-target="#collapseTask">
                <img class=" mr-3 img-fluid rounded-circle avatar" src="../../images/task.png" alt="Generic placeholder image" >
                <div class="media-body ">
                    <p class="mt-0 mb-1 h5" >Task</p>

                    <small>A short Subtitle</small> 
                </div>
        </div>
          <!--<a href="#!/addTask" class="blue-grey-text" >-->   
         
        <div id="collapseTask" class="card-block collapse">
          <ul class="list-group" id="taskList">
              <li class="list-group-item border-0 rounded p-0">
                      <a href="#!/addTask" class="blue-grey-text" >
                       <div class="media user py-2 pl-4" >
                           <div class="media-body  d-flex justify-content-start">
                              <i class="fa fa-plus-circle fa-2x teal-text" aria-hidden="true"></i> 
                              <p class="mt-0 mb-1 lead text-left pl-4 teal-text" >Add Task  </p>
                            </div>
                      </div>
                    </a>
              </li>
              <taskDirective  task="task" ng-repeat="task in tasks" ></taskDirective>
          </ul>
        </div>
     </div>


</div>    