<div class="chatSidebar-content float-left card"  ng-show="ctrl.visible" ng-class="{'chatSidebar-content-animation': ctrl.largeScreen}">
    
    <div ng-repeat="user in ctrl.users">
        <a href="#!/chatHistory/{{user.id}}" >
           <div class="media">
            <img class="d-flex mr-3 img-fluid rounded-circle avatar" ng-src="../../../images/users/{{user.image}}.png" alt="Generic placeholder image" >
            <div class="media-body">
                <h5 class="mt-0" >{{user.userName}}</h5>
                            +919028506985
            </div>
          </div>
       </a>
    </div>
    
      
   </div>