/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

/*body {
  overflow-x: hidden;
}
*/

html {
  height: 100%;
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #eee;
     overflow-x: hidden;
}

@media (min-width: 1200px){
	.container { max-width: 1200px;}
}
.bg-blue{
	
	background-color: #00b8ff;

}

/*sidebar css*/

.chatSidebar-content {
    width: 15%;
    height: 200px;
    background: white;
    border-radius: 5px;
    margin-left: 10px;
}

.chatSidebar-content-animation.ng-hide-remove {
    -webkit-animation: fadeInLeft 1s;
    -moz-animation: fadeInLeft 1s;
    -ms-animation: fadeInLeft 1s;
    -o-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
}

.chatSidebar-content-animation.ng-hide-add {
    -webkit-animation: fadeOutLeft 1s;
    -moz-animation: fadeOutLeft 1s;
    -ms-animation: fadeOutLeft 1s;
    -o-animation: fadeOutLeft 1s;
    animation: fadeOutLeft 1s;
}

.notificationSidebar-content {
    width: 15%;
    height: 200px;
    background: white;
    border-radius: 5px;
    margin-left: 10px;
}

.notificationSidebar-content-animation.ng-hide-remove {
    -webkit-animation: fadeInRight 1s;
    -moz-animation: fadeInRight 1s;
    -ms-animation: fadeInRight 1s;
    -o-animation: fadeInRight 1s;
    animation: fadeInRight 1s;
 
}

.notificationSidebar-content-animation.ng-hide-add {
    -webkit-animation: fadeOutRight 1s;
    -moz-animation: fadeOutRight 1s;
    -ms-animation: fadeOutRight 1s;
    -o-animation: fadeOutRight 1s;
    animation: fadeOutRight 1s;
}



