/* app css stylesheet */

/* screen flicker fix*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}


.navbar .chatToggle{
    width:10%;
    margin-left:8%;
}

.form-inline .search{
    background-color: white;
    border-radius: 5px;
    color:black !important;
    padding:5px;
    
}


.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:focus, .dropdown .dropdown-menu .dropdown-item:hover{
    background-color:#00897b    ; 
    transition:all 0.3s;
}

/*body {
  overflow-x: hidden;
}
*/

html {
  height: 100%;
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background-color: #e2e1e0;
   /*  background-color: white;*/
     overflow-x: hidden;
 /* //  background-image: url(images/bg.png);*/
}

@media (min-width: 1200px){
	.container { max-width: 1150px;}
}
.bg-blue{
	
	background-color: #00b8ff;

}

/*sidebar css*/

.chatSidebar-content {
    width: 20%;

    background: inherit;
    border-radius: 5px;
    /*margin-left: 10px;*/
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
}

.chatSidebar-content-animation.ng-hide-remove {
    -webkit-animation: fadeInLeft 1s;
    -moz-animation: fadeInLeft 1s;
    -ms-animation: fadeInLeft 1s;
    -o-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
}

.chatSidebar-content-animation.ng-hide-add {
    -webkit-animation: fadeOutLeft 1s;
    -moz-animation: fadeOutLeft 1s;
    -ms-animation: fadeOutLeft 1s;
    -o-animation: fadeOutLeft 1s;
    animation: fadeOutLeft 1s;
}

.notificationSidebar-content {
    width: 20%;

    background: inherit;
    border-radius: 5px;
   
}

.notificationSidebar-content-animation.ng-hide-remove {
    -webkit-animation: fadeInRight 1s;
    -moz-animation: fadeInRight 1s;
    -ms-animation: fadeInRight 1s;
    -o-animation: fadeInRight 1s;
    animation: fadeInRight 1s;
 
}

.notificationSidebar-content-animation.ng-hide-add {
    -webkit-animation: fadeOutRight 1s;
    -moz-animation: fadeOutRight 1s;
    -ms-animation: fadeOutRight 1s;
    -o-animation: fadeOutRight 1s;
    animation: fadeOutRight 1s;
}

/*chat history card*/

.card {
  padding:10px;
  margin-bottom:10px;
  
  
}

.card img{
    border-radius: 50%;
}

.card .avatar{
    width: 50px;
}
.card-header{
 
  /*  color: white;*/
}
.card-block{
    font-size: 14px;
}

.inline-block{
    display: inline-block
}

.self-text{
    width:40%;
    margin-right: 0;
}

.mr-10{
    margin-right: 20%;
}
.ml-10{
    margin-left: 20%;
}

/*chatSideBar*/
.user{
    color:#4B515D;
    padding:10px;
    border-radius:3px;
    transition: all 0.5s;
    
}

.graded-bg{
/*    background: rgba(89,150,194,1);
    background: -moz-linear-gradient(left, rgba(89,150,194,1) 0%, rgba(31,77,121,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(89,150,194,1)), color-stop(100%, rgba(31,77,121,1)));
    background: -webkit-linear-gradient(left, rgba(89,150,194,1) 0%, rgba(31,77,121,1) 100%);
    background: -o-linear-gradient(left, rgba(89,150,194,1) 0%, rgba(31,77,121,1) 100%);
    background: -ms-linear-gradient(left, rgba(89,150,194,1) 0%, rgba(31,77,121,1) 100%);
    background: linear-gradient(to right, rgba(89,150,194,1) 0%, rgba(31,77,121,1) 100%);
    */
}
.user:hover{
    background-color: #eee ;
}

/*.editUser:hover{
    background-color:#01579b;
    color:white;
}*/ 


.chatSidebar-content .active{
      background-color: #f5f5f5 ;
}

/* animate view*/

.view-animate {
  padding:10px;
}

.view-animate.ng-enter{
  -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}


/*notification*/
.accordion .expense-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right;
    margin-top:10px;
    margin-right:10px;
}
.accordion .expense-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
}
.add-expense{
    color:white;
 padding-left:20%;
}
.add-expense:hover{
    color:white;
    background-color: lightblue;
}

/* login*/
.login-page{
padding-top:250px;
    padding-bottom:150px;
}

