<div class="container">
	<div class="row">
		<div class="col">
			<div class="card px-0 py-0">
                <div class="view card-header media z-index-1 view stylish-color">
                    <img class="d-flex mr-3 img-fluid rounded-circle avatar" src="../../../images/users/f1.png" alt="Generic placeholder image" >
                    <div class="media-body mt-auto mb-auto">
                        <h5 class="mt-0 ">Name</h5>
                        <p class="my-0 text-muted">mobile</p>
                    </div>
                </div>
     
				  <div class="card-block mt-4 px-4 pb-5">
                    Sample
			     </div>
			
       
            
			
		</div>
	</div>
</div>



