<div class="container">
	<div class="row">
		<div class="col ">
            <!--Card-->
            <div class="card z-depth-1 px-0 py-0 ">
                   <div class="view card-header media  view">
                    <div class="media-body mt-auto mb-auto">
                        <h5 class="mt-0 ">My Profile </h5>
                    </div>
                </div>
                    <div class="row">
		              <div class="col-2 ml-3 mt-4">
                            <!--Card image-->
                            <img class="img-fluid" src="../../images/users/m4.png" alt="Card image cap">

                            <!--Card content-->
                            
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <!-- Form register -->
                                
                                <form>
                                      <div class="form-group row">
                                        <label class="mb-0 px-0 col-sm-2 col-form-label" for="name">Name</label>
                                          <div class="col-7 pl-0 pr-0 inline-block">
                                              <input type="text" class="form-control py-0 col-sm-8 my-0" id="name" aria-describedby="emailHelp" placeholder="Enter Name" value="sanket">
                                          </div>
                                      </div>
                                    
                                      <div class="form-group row">
                                        <label class="mb-0 px-0 col-sm-2 col-form-label" for="exampleInputEmail1">Email address</label>
                                          <div class="col-7 pl-0 pr-0 inline-block">
                                        <input type="email" class="form-control py-0 my-0 col-sm-8" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value="sanketgawas1993@gmail.com">
                                          </div>
                                      </div>
                                    
                                     <div class="form-group row">
                                        <label class="mb-0 px-0 col-sm-2 col-form-label" for="exampleInputPassword1">Password</label>
                                          <div class="col-7 pl-0 pr-0 inline-block">
                                            <input type="password" class="form-control py-0 my-0 col-sm-8" id="exampleInputPassword1" placeholder="Password" value="12345">
                                          </div>
                                      </div>
                                    
                                    
                                     <div class="form-group row">
                                        <label class="mb-0 px-0 col-sm-2 col-form-label" for="mobile">Mobile</label>
                                          <div class="col-7 pl-0 pr-0 inline-block">
                                            <input type="number" class="form-control py-0 my-0 col-sm-8" id="mobile" placeholder="Mobile" value="919026749">
                                          </div>
                                      </div>
                                    
                                     <div class="form-group row">
                                        <div class="col-8"></div>
                                          <div class="col-7 pl-0 pr-3 inline-block text-right">
                                             <button type="submit" class="btn btn-default">Save</button>
                                          </div>
                                      </div>
                                 
                                     
                                    </form>
                
                            </div>
                        </div>
                    </div>
            </div>
            <!--/.Card-->
               
	   </div>
</div>
</div>



